<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (KindofDay === "Saturday" || KindofDay === "Sunday") { %>
        <h1 style="color: bisque;">Today is <%= KindofDay %>!</h1>
    <% } else { %>
        <h1 style="color: aqua;">Today is <%= KindofDay %>!</h1>
    <% } %>
</body>
</html>
